// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	color: var(--navigator-color-palette-amazon-resin-source);
	font-weight: 500;
}
// Заголовок спойлера
.spollers__title {
	width: fit-content;
	cursor: pointer;
	text-align: left;
	position: relative;
	list-style: none;

	@media (min-width: $pc) {
		display: flex;
		align-items: center;
		column-gap: 4px;
		&::after {
			display: block;
			font-size: 16px;
			transition: all 0.3s ease 0s;
		}
		&.active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}

	&::marker {
		display: none !important;
	}
	::-webkit-details-marker {
		display: none !important;
	}
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: -20px;
			top: 50%;
			background-color: #000;
			height: 1px;
			width: 8px;
			transition: all 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
				background-color: var(--navigator-color-palette-goldendriedfruit-source);
			}
			&::after {
				transform: rotate(40deg);
				background-color: var(--navigator-color-palette-goldendriedfruit-source);
			}
		}
		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}
}

// Контент спойлера
.spollers__body {
	padding-left: 24px;
	padding-top: 24px;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	@media (min-width: $pc) {
		.header & {
			display: none;
		}
	}
}
