// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	color: var(--navigator-color-palette-amazon-resin-source);
	font-weight: 500;
}
// Заголовок спойлера
.spollers__title {
	width: fit-content;
	cursor: pointer;
	text-align: left;
	position: relative;
	display: block;
	@media (min-width: $pc) {
		display: flex;
		align-items: center;
		column-gap: 4px;
		&::after {
			display: block;
			font-size: 16px;
			transition: all 0.3s ease 0s;
		}
		&.active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}

	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: -20px;
			top: 50%;
			background-color: #000;
			height: 1px;
			width: 8px;
			transition: all 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
				background-color: var(--navigator-color-palette-goldendriedfruit-source);
			}
			&::after {
				transform: rotate(40deg);
				background-color: var(--navigator-color-palette-goldendriedfruit-source);
			}
		}
		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}
}
summary::-webkit-details-marker {
	display: none !important;
}
// Контент спойлера
.spollers__body {
	padding-left: 24px;
	padding-top: 24px;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	@media (min-width: $pc) {
		.header & {
			display: none;
		}
	}
}

/* Стилизация для фона прогресс бара */
progress {
	// /* Стилизация фона */
	// width: 100%; /* Полная ширина контейнера */
	// height: 20px; /* Высота прогресс бара */
	background-color: yellow;
}

/* Стилизация для всех браузеров с использованием вендорных префиксов */
progress[value]::-webkit-progress-bar {
	background-color: #eee; /* Цвет фона прогресс бара */
}

progress[value]::-webkit-progress-value {
	background-color: red; /* Цвет заполнения прогресс бара */
}

progress[value]::-moz-progress-bar {
	background-color: red;
}

/* Стилизация для Internet Explorer */
progress[value]::-ms-fill {
	background-color: red; /* Цвет заполнения прогресс бара */
	border: none; /* Удаление границы для IE10 */
}

/* Стилизация фона прогресс бара */
progress[value]::-webkit-progress-bar {
	background-color: black; /* Цвет фона для Chrome и Safari */
}

progress[value]::-moz-progress-bar {
	/* Для Firefox необходимо использовать другой псевдо-элемент */
	background-color: black; /* Стандартный фоновый цвет, если вы хотите его сбросить */
}

progress[value] {
	background-color: black; /* Цвет фона для IE */
}
