@font-face {
	font-family: "icons";
	src: url("../fonts/icons.woff?77iwz2") format("woff"), url("../fonts/icons.svg?77iwz2#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-Clutch-1:before {
	content: "\e900";
}
._icon-Tote:before {
	content: "\e901";
}
._icon-ArrowDown:before {
	content: "\e902";
}
._icon-ArrowLeft:before {
	content: "\e903";
}
._icon-ArrowRight:before {
	content: "\e904";
}
._icon-ArrowUP:before {
	content: "\e905";
}
._icon-arrow-up:before {
	content: "\e906";
}
._icon-Broadcast:before {
	content: "\e907";
}
._icon-CaretDown:before {
	content: "\e908";
}
._icon-CaretLeft:before {
	content: "\e909";
}
._icon-CaretRight:before {
	content: "\e90a";
}
._icon-ChartBar:before {
	content: "\e90b";
}
._icon-ChatText:before {
	content: "\e90c";
}
._icon-Cursor:before {
	content: "\e90d";
}
._icon-Equals:before {
	content: "\e90e";
}
._icon-GearSix:before {
	content: "\e90f";
}
._icon-Lightning:before {
	content: "\e910";
}
._icon-Minus:before {
	content: "\e911";
}
._icon-Star:before {
	content: "\e912";
}

%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
