//==== Message styles=============================================================================================

.message {
	padding: 8px 0;
	background: var(--navigator-color-palette-amazon-skyline-source);
	// .message__container
	&__container {
		padding: 0 16px;
		display: flex;
		align-items: center;
		column-gap: 8px;
		@media (min-width: $pc) {
			justify-content: center;
			padding: 0 52px;
		}
	}
	// .message__content
	&__content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 16px;
		row-gap: 4px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			justify-content: center;
		}
	}
	// .message__left-col
	&__left-col {
		min-width: 256px;
		max-width: 310px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			max-width: none;
			flex: none;
		}
	}
	// .message__text-holder
	&__text-holder {
		color: var(--navigator-color-palette-amazon-skyline-50);
		font-size: 10px;
		display: flex;
		column-gap: 8px;
		align-items: center;
		span {
			font-size: 18px;
		}
	}
	// .message__right-col
	&__right-col {
		min-width: 190px;
		max-width: 190px;
		flex: 1 0 0;
		display: flex;
		column-gap: 8px;
		align-items: center;
		@media (min-width: $pc) {
			max-width: none;
			flex: none;
		}
		span {
			color: var(--navigator-color-palette-amazon-skyline-500);
			font-size: 10px;
		}
		a {
			color: var(--navigator-color-palette-goldendriedfruit-400);
			font-size: 10px;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: underline;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: var(--navigator-color-palette-goldendriedfruit-source);
				}
			}
			&:active {
				color: var(--navigator-color-palette-amazon-skyline-600);
			}
		}
	}
	// .message__close
	&__close {
		._icon-Minus {
			font-size: 24px;
			color: #fff;
		}
	}
	.icon-before {
		line-height: 100%;
		display: block;
		@media (min-width: $pc) {
			display: none;
		}
	}
	.icon-after {
		line-height: 100%;
		display: none;
		@media (min-width: $pc) {
			display: block;
		}
	}
}

.card {
	border-radius: 8px;
	border: 1px solid var(--navigator-color-palette-amazon-resin-100);
	background: var(--additional-colors-100-white);
	&__inner {
		display: flex;
		flex-direction: column;
	}
	@media (min-width: $pc) {
		border-radius: 16px;
	}
}

.badge {
	width: fit-content;
	display: flex;
	align-items: center;
	border-radius: 99px;
	font-size: 10px;
}

.link {
	transition: color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			color: var(--navigator-color-palette-goldendriedfruit-400);
		}
	}
	&:active {
		color: var(--navigator-color-palette-goldendriedfruit-source);
	}

	&.blocked {
		color: var(--navigator-color-palette-amazon-resin-200);
		pointer-events: none;

		svg {
			path {
				fill: var(--navigator-color-palette-amazon-resin-200);
			}
		}
	}

	&.blocked:focus {
		outline: none;
	}
}

.title {
	color: var(--navigator-color-palette-amazon-skyline-source);
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	text-transform: capitalize;
	@media (min-width: $pc) {
		font-size: 31px;
		line-height: 1.3;
	}
}

.subtitle {
	color: var(--navigator-color-palette-goldendriedfruit-source);
	font-size: 13px;
	font-weight: 600;
	line-height: 1.3;
	text-transform: uppercase;
	@media (min-width: $pc) {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 1.6px;
	}
}

.text-block {
	// .text-block__text-holder
	&__text-holder {
		color: var(--navigator-color-palette-amazon-skyline-800);
		font-size: 16px;
		line-height: 1.7;
		position: relative;
		&:not(:last-child) {
			padding-bottom: 28px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				padding-bottom: 32px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: -12px;
			left: 0;
			width: 100%;
			height: 1px;
			background: var(--navigator-color-palette-amazon-skyline-100);
		}
		&:first-child {
			&::before {
				display: none;
			}
		}
	}

	h4 {
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-size: 20px;
		font-weight: 600;
		line-height: 1.5;
		text-transform: capitalize;
		position: relative;
		&:not(:last-child) {
			padding-bottom: 28px;
		}
		&::before {
			content: "";
			position: absolute;
			top: -12px;
			left: 0;
			width: 100%;
			height: 1px;
			background: var(--navigator-color-palette-amazon-skyline-100);
		}
		@media (min-width: $pc) {
			font-size: 31px;
			line-height: 1.3;
			&:not(:last-child) {
				padding-bottom: 32px;
			}
		}
	}
}

.widget {
	position: relative;
	width: 100%;
	max-width: 124px;
	border-radius: 8px;
	border: 2px solid var(--navigator-color-palette-amazon-skyline-100);
	overflow: hidden;
	// .widget__content
	&__content {
		position: relative;
		z-index: 1;
		padding: 9px 11px;
		height: 100%;
		min-height: 127px;
		display: flex;
		flex-direction: column;
	}

	// .widget__value
	&__value {
		text-align: center;
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-size: 39px;
		font-weight: 600;
		line-height: 1.3;
		flex: 1 0 auto;
		&--letter {
			font-size: 31px;
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	// .widget__text
	&__text {
		text-align: center;
		color: var(--navigator-color-palette-amazon-skyline-700);
		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}
	// .widget__badge
	&__badge {
		background: var(--navigator-color-palette-amazon-skyline-source);
		color: var(--navigator-color-palette-amazon-skyline-50);
		font-size: 10px;
		padding: 2px 4px;
		@media (min-width: $pc) {
			font-size: $fontSize;
			padding: 2px 6px;
		}
	}
	// .widget__bg-holder
	&__bg-holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.widget-desc {
	display: none;
	@media (min-width: $pc) {
		display: flex;
		column-gap: 24px;
	}
	// .widget-desc__left-col
	&__left-col {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		row-gap: 24px;

		.widget__content {
			align-items: center;
			justify-content: center;
		}
		.widget__value {
			flex: none;
		}
		.widget {
			border-radius: 18px;
			&:first-child {
				width: 176px;
				max-width: none;

				.widget__content {
					min-height: 172px;
				}
				.widget__value {
					&:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}
			&:last-child {
				width: 207px;
				max-width: none;
				.widget__content {
					min-height: 203px;
				}
				.widget__value {
					&:not(:last-child) {
						margin-bottom: 12px;
					}
				}
			}
		}
	}
	// .widget-desc__right-col
	&__right-col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		row-gap: 24px;

		.widget__value--letter {
			font-size: 49px;
		}
		.widget__content {
			align-items: center;
			justify-content: center;
		}
		.widget__value {
			flex: none;
		}

		.widget {
			border-radius: 18px;
			&:first-child {
				width: 138px;
				max-width: none;

				.widget__content {
					min-height: 134px;
				}
				.widget__value {
					&:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}
			&:last-child {
				width: 276px;
				max-width: none;
				.widget__content {
					min-height: 272px;
				}
				.widget__value {
					&:not(:last-child) {
						margin-bottom: 16px;
					}
				}
			}
		}
	}
}

.quote {
	position: relative;
	margin-left: 16px;
	border-radius: 0px 2px 2px 2px;
	background: var(--additional-colors-100-white);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);

	@media (min-width: $pc) {
		margin-left: 36px;
	}
	// .quote__inner
	&__inner {
		padding: 16px;
		@media (min-width: $pc) {
			padding: 24px;
		}
	}
	// .quote__header
	&__header {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	// .quote__author
	&__author {
		display: flex;
		flex-direction: column;
		row-gap: 2px;
	}
	// .quote__name
	&__name {
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-weight: 500;
	}
	// .quote__position
	&__position {
		color: var(--navigator-color-palette-amazon-skyline-700);
		font-size: 10px;
	}
	// .quote__link
	&__link {
		display: flex;
		align-items: center;
		column-gap: 6px;
		padding: 8px;
		border-radius: 2px;
		background: var(--additional-colors-back-for-accent);
		color: var(--navigator-color-palette-amazon-skyline-700);
		font-size: 10px;
		font-weight: 500;
	}
	// .quote__text-holder
	&__text-holder {
		color: var(--navigator-color-palette-amazon-skyline-500);
		font-size: 10px;
		@media (min-width: $pc) {
			font-size: $fontSize;
		}
	}
	// .quote__image-holder
	&__image-holder {
		position: absolute;
		top: 0;
		left: -18px;
		border-radius: 50%;
		border: 0.615px solid var(--navigator-color-palette-amazon-skyline-100);
		@media (min-width: $pc) {
			width: 52px;
			height: 52px;
			left: -36px;
		}
		img {
			border-radius: 50%;
			@media (min-width: $pc) {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&--row {
		margin-right: 16px;
		margin-left: 0;
		width: 100%;
		max-width: 576px;
		background: var(--additional-colors-back-for-accent);
		.quote__header {
			margin-bottom: 0;
		}
		.quote__inner {
			display: flex;
			column-gap: 24px;
			row-gap: 8px;
			align-items: center;
			flex-wrap: wrap;
			padding: 16px 24px 16px 16px;
		}
		.quote__text-holder {
			min-width: 200px;
			flex: 1 0 0;
		}
		.quote__image-holder {
			left: unset;
			right: -18px;
			@media (min-width: $pc) {
				right: -38px;
			}
		}
		@media (min-width: $pc) {
			margin-right: 36px;
			.quote__inner {
				padding: 24px 24px 24px 16px;
			}
		}
	}
}

.noise {
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/noise.png") repeat center;
	width: 100%;
	height: 100%;
	background-size: 200px 200px;
	opacity: 0.45;
	mix-blend-mode: color-burn;
	z-index: -1;
}
.bg-holder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.card-services {
	border-radius: 8px;
	border: 2px solid var(--navigator-color-palette-amazon-skyline-50);
	@media (min-width: $pc) {
		border-radius: 24px;
	}
	// .card-services__inner
	&__inner {
		padding: 14px;
		min-height: 252px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (min-width: $pc) {
			min-height: 376px;
			padding: 24px 32px 32px 32px;
		}
	}
	// .card-services__icon-holder
	&__icon-holder {
		border-radius: 50%;
		width: 26px;
		height: 26px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width: $pc) {
			width: 40px;
			height: 40px;
			img {
				width: 24px;
				height: 24px;
				object-fit: cover;
			}
		}
	}
	// .card-services__title
	&__title {
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-weight: 600;
		@media (min-width: $pc) {
			font-size: 20px;
			line-height: 1.5;
			text-transform: capitalize;
		}
	}
	// .card-services__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		align-self: stretch;
		overflow: hidden;
		overflow: hidden;
		color: var(--navigator-color-palette-amazon-skyline-500);
		text-overflow: ellipsis;
	}
	// .card-services__link
	&__link {
		color: var(--navigator-color-palette-amazon-resin-source);
		font-weight: 500;
		display: flex;
		align-items: center;
		column-gap: 4px;

		&._icon-CaretRight {
			&::after {
				font-size: 16px;
			}
		}
	}
	&--orange {
		background: var(--navigator-color-palette-goldendriedfruit-50);
		.card-services__icon-holder {
			background: var(--navigator-color-palette-goldendriedfruit-200);
		}
	}
	&--gray {
		background: var(--navigator-color-palette-amazon-skyline-100);
		.card-services__icon-holder {
			background: var(--navigator-color-palette-amazon-skyline-400);
		}
	}
	&--silver {
		background: var(--navigator-color-palette-amazon-resin-50);
		.card-services__icon-holder {
			background: var(--navigator-color-palette-amazon-resin-300);
		}
	}
}

.list-services {
	padding: 16px;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	position: relative;
	@media (min-width: $pc) {
		padding: 32px 32px 32px 16px;
	}
	&::before {
		content: "";
		position: absolute;
		width: 1px;
		height: 100%;
		top: 0;
		left: 0;
		background: var(--navigator-color-palette-amazon-skyline-50);
	}

	// .list-services__title
	&__title {
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-weight: 600;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -8px;
			left: 0;
			background: var(--navigator-color-palette-amazon-skyline-50);
		}
		@media (min-width: $pc) {
			font-size: 16px;
			line-height: 1.7;
		}
	}
	// .list-services__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
	}

	// .list-services__link
	&__link {
		color: var(--navigator-color-palette-amazon-resin-source);
		font-weight: 500;
		position: relative;
		display: block;
		padding-right: 20px;
		&._icon-CaretRight {
			&::after {
				font-size: 16px;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
	}
}
