//==== Hero styles=============================================================================================
.hero {
	padding: 48px 0;
	position: relative;
	@media (min-width: $pc) {
		display: flex;
		align-items: center;
		height: 100vh;
		min-height: 750px;
		max-height: 1080px;
		padding-top: 84px;
		padding-bottom: 84px;
	}

	// .hero__container
	&__container {
		padding: 0 16px;
		max-width: 832px;
		display: flex;
		gap: 48px;
		flex-wrap: wrap;
		align-items: center;
		@media (min-width: $pc) {
			padding: 0 math.div($containerPadding, 2) + px;
			max-width: $containerWidth + px;
			align-items: flex-start;
			gap: 24px;
			flex-wrap: nowrap;
		}
	}
	// .hero__left-col
	&__left-col {
		min-width: 288px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 676px;
			flex: none;
		}
	}
	// .hero__title
	&__title {
		color: var(--navigator-color-palette-amazon-resin-source);
		font-size: 31px;
		font-weight: 600;
		line-height: 1.3;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			font-size: 49px;
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
	// .hero__subheading
	&__subheading {
		color: var(--navigator-color-palette-amazon-resin-source);
		font-size: 16px;
		font-weight: 600;
		line-height: 1.7;
		display: flex;
		flex-wrap: wrap;
		row-gap: 2px;
		column-gap: 8px;
		span {
			width: fit-content;
			padding: 0 8px;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background: url("../img/border-top-left.svg") no-repeat center;
				width: 8px;
				height: 8px;
				background-size: 8px 8px;
			}
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				background: url("../img/border-bottom-right.svg") no-repeat center;
				width: 8px;
				height: 8px;
				background-size: 8px 8px;
			}
		}
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (min-width: $pc) {
			font-size: 25px;
			line-height: 1.5;
			column-gap: 12px;
			&:not(:last-child) {
				margin-bottom: 48px;
			}
			span {
				padding: 0 12px;
				&::before {
					width: 15px;
					height: 15px;
					background-size: 15px 15px;
				}
				&::after {
					width: 15px;
					height: 15px;
					background-size: 15px 15px;
				}
			}
		}
	}

	// .hero__content
	&__content {
		&:not(:last-child) {
			margin-bottom: 48px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 80px;
			}
		}
	}

	// .hero__text-holder
	&__text-holder {
		color: var(--navigator-color-palette-amazon-resin-600);
		font-size: 16px;
		font-weight: 400;
		line-height: 1.7;
		span {
			color: var(--navigator-color-palette-goldendriedfruit-source);
			font-weight: 600;
		}
		&:not(:last-child) {
			margin-bottom: 23px;
		}
		@media (min-width: $pc) {
			font-size: 20px;
			max-width: 576px;
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}
	}
	// .hero__buttons
	&__buttons {
		display: flex;
		column-gap: 12px;
		align-items: center;
		._icon-ChatText {
			&::before {
				font-size: 16px;
			}
			padding-top: 8px;
			padding-bottom: 8px;
		}
		@media (min-width: $pc) {
			column-gap: 16px;
			._icon-ChatText {
				&::before {
					font-size: 24px;
				}
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}
	}

	// .hero__right-col
	&__right-col {
		min-width: 288px;
		flex: 1 0 0;
		display: flex;
		align-items: center;
		@media (min-width: $pc) {
			// width: calc(100% - 676px);
			flex: none;
			width: 100%;
			max-width: 476px;
			position: relative;
		}
	}
	// .hero__image-holder
	&__image-holder {
		padding-top: 32.5px;
		padding-left: 22.5px;
		position: relative;
		img {
			width: 451px;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			position: absolute;
			top: 0;
			left: 0;
			width: 793px;
			flex-shrink: 0;
			padding-left: 43px;
			padding-top: 42px;
			img {
				width: 100%;
			}
		}
	}
}

.rating-hero {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	@media (min-width: $pc) {
		gap: 24px;
	}
	// .rating-hero__item
	&__item {
		flex: 1 0 0;
		@media (min-width: $pc) {
			flex: none;
			width: 100%;
			max-width: 176px;
		}
	}
	// .rating-hero__img-holder
	&__img-holder {
		line-height: 0;
		@media (min-width: $pc) {
			width: 114px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .rating-hero__footer
	&__footer {
		display: flex;
		flex-direction: column;
		gap: 2px;
		@media (min-width: $pc) {
			gap: 4px;
		}
	}
	// .rating-hero__star-holder
	&__star-holder {
	}
	// .rating-hero__link
	&__link {
		color: var(--navigator-color-palette-amazon-resin-600);
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: underline;
		@media (min-width: $pc) {
			font-size: 13px;
			font-weight: 500;
			text-transform: none;
		}
	}

	.card {
		// .card__inner
		&__inner {
			padding: 15px 7px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 86px;
			@media (min-width: $pc) {
				min-height: 174px;
				padding: 44px 24px;
			}
		}
	}
}

.widget-hero {
	width: 100%;
	max-width: 100px;
	position: absolute;
	@media (min-width: $pc) {
		max-width: 176px;
	}
	&--top {
		top: 78.5px;
		left: 44px;
		@media (min-width: $pc) {
			top: 86px;
			left: 44px;
		}
	}
	&--bottom {
		top: 186.5px;
		left: 0px;
		@media (min-width: $pc) {
			top: 270px;
		}
	}
	// .widget-hero__header
	&__header {
		display: flex;
		column-gap: 6px;
		align-items: center;
		span {
			color: var(--navigator-color-palette-amazon-resin-400);
			font-size: 10px;
		}
		@media (min-width: $pc) {
			align-items: flex-start;
			justify-content: space-between;
		}
	}
	// .widget-hero__icon-holder
	&__icon-holder {
		line-height: 0;
		padding: 1px;
		border-radius: 2px;
		border: 1px solid var(--navigator-color-palette-amazon-resin-50);
		background: var(--additional-colors-100-white);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (min-width: $pc) {
			padding: 7px;
			border-radius: 4px;
			img {
				width: 18px;
				height: 18px;
			}
		}
	}
	// .widget-hero__footer
	&__footer {
		display: flex;
		flex-direction: column;
		row-gap: 2px;
	}
	// .widget-hero__name
	&__name {
		color: var(--navigator-color-palette-amazon-resin-700);
		font-size: 10px;
		@media (min-width: $pc) {
			font-size: 13px;
		}
	}
	// .widget-hero__values
	&__values {
		display: flex;
		align-items: center;
		column-gap: 4px;
	}
	// .widget-hero__value
	&__value {
		color: var(--navigator-color-palette-amazon-resin-source);
		font-weight: 600;
		@media (min-width: $pc) {
			font-size: 16px;
			line-height: 1.7;
		}
	}
	// .widget-hero__badge
	&__badge {
		padding: 0 4px;
		color: var(--additional-colors-100-green);
		font-size: 10px;
		background: var(--additional-colors-light-green);

		@media (min-width: $pc) {
			padding: 2px 6px;
			font-size: 13px;
		}
	}
	.card {
		// .card__inner
		&__inner {
			padding: 11px 7px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 98px;
			@media (min-width: $pc) {
				min-height: 174px;
				padding: 15px;
			}
		}
	}
}

//==== About styles=============================================================================================
.about {
	padding: 64px 0;
	background: var(--additional-colors-back-for-accent);
	@media (min-width: $pc) {
		padding: 128px 0;
	}
	// .about__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .about__header
	&__header {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		@media (min-width: $pc) {
			row-gap: 8px;
		}
	}

	// .about__inner
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 24px;
	}

	// .about__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 44px;
		@media (min-width: $pc) {
			align-items: flex-start;
			gap: 124px;
		}
	}
	// .about__left-col
	&__left-col {
		width: 50%;
		min-width: 256px;
		max-width: 583px;
		flex: 1 0 0;
		display: flex;
		flex-direction: column;
		gap: 24px;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 576px;
			flex: none;
			gap: 48px;
		}
	}
	// .about__text-block
	&__text-block {
		min-width: 256px;
		flex: 1 0 0;
		padding: 0 24px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 1px;
			background: var(--navigator-color-palette-amazon-skyline-100);
		}
		@media (min-width: $pc) {
			width: calc(50% - 12px);
			flex: none;
		}
	}
	// .about__text-holder
	&__text-holder {
		min-width: 256px;
		flex: 1 0 0;
		p {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
			@media (min-width: $pc) {
				&:not(:last-child) {
					margin-bottom: 32px;
				}
			}
		}
		@media (min-width: $pc) {
			width: calc(50% - 12px);
			flex: none;
		}
	}

	// .about__right-col
	&__right-col {
		width: 50%;
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background: url("../img/border-top-left.svg") no-repeat center;
				background-size: 41px 41px;
				width: 41px;
				height: 41px;
			}
		}
	}

	.widget-mob {
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		gap: 8px;
		@media (min-width: $pc) {
			display: none;
		}
	}
}

//==== Services styles=============================================================================================
.services {
	padding: 64px 0;
	@media (min-width: $pc) {
		padding: 128px 0 126px;
	}
	// .services__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 64px;
	}

	// .services__subtitle
	&__subtitle {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	// .services__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		column-gap: 16px;
		row-gap: 31px;
		@media (min-width: $pc) {
			gap: 24px;
		}
	}
	// .services__card
	&__card {
		width: 100%;
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			min-width: 376px;
		}
	}
	// .services__list
	&__list {
		width: 100%;
		min-width: 256px;
		flex: 1 0 0;
	}
}

.header-services {
	display: flex;
	align-items: center;
	// justify-content: space-between;
	flex-wrap: wrap;
	gap: 24px;
	// .header-services__right-col
	&__right-col {
		min-width: 256px;
		max-width: 576px;
		align-items: flex-start;
		flex: 1 0 0;
		margin-left: auto;
		margin-right: 16px;
		@media (min-width: $pc) {
			flex: none;
			max-width: 540px;
			margin-right: 32px;
		}
	}
}

//==== CTA styles=============================================================================================
.cta {
	padding: 64px 0 32px;
	position: relative;
	@media (min-width: $pc) {
		padding: 128px 0;
	}

	// .cta__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 48px;
		@media (min-width: $pc) {
			flex-wrap: nowrap;
		}
	}
	// .cta__left-col
	&__left-col {
		width: 50%;
		min-width: 256px;
		max-width: 376px;
		flex: 1 0 0;
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		@media (min-width: $pc) {
			row-gap: 32px;
			width: 100%;
			max-width: 676px;
			flex: none;
		}
	}
	// .cta__title
	&__title {
		font-size: 31px;
		line-height: 1.3;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: -12px;
			left: -20px;
			background: url("../img/border-top-left.svg") no-repeat center;
			background-size: 32px 32px;
			width: 32px;
			height: 32px;
			transform: rotate(-90deg);
		}
		@media (min-width: $pc) {
			font-size: 58px;
			padding: 8px;
			&::before {
				left: -16px;
				bottom: -19px;
				width: 40px;
				height: 40%;
				background-size: 40px 40px;
			}
		}
	}
	// .cta__text-holder
	&__text-holder {
		color: var(--navigator-color-palette-amazon-skyline-800);
		font-size: 16px;
		line-height: 1.7;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 276px;
		}
	}

	// .cta__right-col
	&__right-col {
		width: 50%;
		min-width: 256px;
		max-width: 376px;
		flex: 1 0 0;
		position: relative;
		min-height: 407px;
		@media (min-width: $pc) {
			max-width: 100%;
			width: calc(100% - 676px);
			flex: none;
			flex-shrink: 1;
			min-height: 544px;
		}
	}
	// .cta__image-holder
	&__image-holder {
		position: absolute;
		bottom: 0;
		right: -83px;
		width: 442px;
		height: 407px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: -20px;
		}
		@media (min-width: $pc) {
			right: -110px;
			width: 776px;
			height: 543px;
			object-position: center;
		}
	}
	.button {
		padding: 8px 12px;
		@media (min-width: $pc) {
			padding: 15px 24px;
		}
	}
}

//==== Clients styles=============================================================================================
.clients {
	background: var(--additional-colors-back-for-accent);
	padding: 32px 0;
	@media (min-width: $pc) {
		padding: 96px 0 48px;
	}
	// .clients__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		&:not(:last-child) {
			margin-bottom: 32px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}
	}
	// .clients__header
	&__header {
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		@media (min-width: $pc) {
			row-gap: 8px;
		}
	}

	// .clients__slider
	&__slider {
		overflow: visible;
		pointer-events: none;
	}

	// .clients__slide
	&__slide {
		width: 100%;
		max-width: 176px;
		min-height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

//==== Cases styles=============================================================================================
.cases {
	padding: 64px 0 42px;
	background: var(--additional-colors-back-for-accent);
	@media (min-width: $pc) {
		padding: 128px 0;
	}
	// .cases__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .cases__header
	&__header {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			row-gap: 8px;
			&:not(:last-child) {
				margin-bottom: 0px;
			}
		}
	}
	// .cases__body
	&__body {
		min-width: 0;
		min-height: 0;
		@media (min-width: $pc) {
			position: relative;
		}
	}

	// .cases__subtitle
	&__subtitle {
	}
	// .cases__title
	&__title {
		@media (min-width: $pc) {
			text-transform: none;
		}
	}
	// .cases__slider
	&__slider {
		// min-width: 0;
	}
	// .cases__wrapper
	&__wrapper {
	}
	// .cases__slide
	&__slide {
	}
	.card-box {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		@media (min-width: $pc) {
			gap: 8px;
		}
	}
	.quote__inner {
		padding: 16px 0 16px 16px;
		@media (min-width: $pc) {
			padding: 23px 16px 23px 24px;
		}
	}
	.quote__text-holder {
		padding-right: 16px;
		@media (min-width: $pc) {
			padding-right: 0;
		}
	}
	.quote__link {
		flex-shrink: 0;
	}
	.quote__author {
		padding-right: 5px;
	}
	.quote__header {
		align-items: center;
	}
	.card {
		min-width: 100px;
		width: 50%;
		flex: 1 0 0;
		padding: 7px 8px;
		@media (min-width: $pc) {
			border-radius: 12px;
			min-width: 288px;
			padding: 9px 16px;
		}
		// .card__inner
		&__inner {
			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 8px;
			justify-content: space-between;
			height: 100%;
		}
		// .card__left-col
		&__left-col {
			height: 100%;
			display: flex;
			flex-direction: column;
			@media (min-width: $pc) {
				row-gap: 4px;
			}
		}
		// .card__name
		&__name {
			flex: 1 0 auto;
		}
		// .card__value
		&__value {
			color: var(--navigator-color-palette-amazon-skyline-900);
			font-size: 16px;
			font-weight: 600;
			line-height: 1.7;
			@media (min-width: $pc) {
				font-size: 20px;
				font-weight: 600;
				text-transform: capitalize;
			}
		}
		// .card__right-col
		&__right-col {
		}
		// .card__icon-holder
		&__icon-holder {
			border-radius: 2px;
			border: 1px solid var(--navigator-color-palette-amazon-resin-50);
			background: var(--additional-colors-100-white);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1px;
			@media (min-width: $pc) {
				padding: 7px;
				border-radius: 4px;
				img {
					width: 18px;
					height: 18px;
				}
			}
		}
	}
}

.slider-cases {
	height: auto;

	// .slider-cases__nav
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
		@media (min-width: $pc) {
			position: absolute;
			top: 50%;
			right: -82px;
			transform: translateY(-50%) rotate(90deg);
			z-index: 1;
			border-radius: 45px;
			border: 1px solid var(--navigator-color-palette-amazon-skyline-50);
			background: var(--additional-colors-100-white);
			box-shadow: 0px 0px 4px 0px rgba(35, 35, 35, 0.15);
			padding: 19px 20px;
			margin-top: 0;
		}
	}
	.swiper-pagination {
		transform: unset;
	}
}

.slide-cases {
	height: auto;
	/* Добавьте опцию min-height для предотвращения слишком маленьких слайдов */
	min-height: 100px; /* Задайте желаемую минимальную высоту */
	// .slide-cases__inner
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 32px;

		@media (min-width: $pc) {
			column-gap: 124px;
		}
	}
	// .slide-cases__left-col
	&__left-col {
		min-width: 256px;
		flex: 1 0 0;
		display: flex;
		row-gap: 24px;
		flex-direction: column;
		@media (min-width: $pc) {
			flex: none;
			width: 100%;
			max-width: 376px;
			row-gap: 48px;
		}
	}
	// .slide-cases__text-block
	&__text-block {
		padding-left: 24px;
	}
	// .slide-cases__quote
	&__quote {
	}
	// .slide-cases__right-col
	&__right-col {
		min-width: 256px;
		flex: 1 0 0;
	}
	// .slide-cases__card
	&__card {
	}
}

.card-slide-cases {
	border-radius: 8px;
	border: 2px solid var(--navigator-color-palette-amazon-skyline-50);
	background: #fef6e7;
	position: relative;
	@media (min-width: $pc) {
		border-radius: 24px;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../img/noise.png");
		background-repeat: repeat;
		background-position: center;
		background-size: 200px 200px;
		opacity: 0.4;
		mix-blend-mode: color-burn;
		pointer-events: none;
	}
	// .card-slide-cases__title
	&__title {
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-size: 16px;
		font-weight: 600;
		line-height: 1.7;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			font-size: 20px;
			font-weight: 600;
			line-height: 1.5;
			text-transform: capitalize;
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}

	// .card-slide-cases__inner
	&__inner {
		padding: 14px;
		@media (min-width: $pc) {
			padding: 30.5px 32px;
		}
	}

	// .card-slide-cases__header
	&__header {
		display: flex;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 16px;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	// .card-slide-cases__logo-holder
	&__logo-holder {
		display: flex;
		height: 100px;
		min-width: 100px;
		padding: 16px;
		justify-content: center;
		align-items: center;
		flex: 1 0 0;
		border-radius: 4px;
		border: 1px solid var(--navigator-color-palette-amazon-skyline-100);
		background: var(--additional-colors-100-white);
		img {
			width: fit-content;
			height: 24px;
			object-fit: contain;
		}

		@media (min-width: $pc) {
			border-radius: 12px;
			max-width: 176px;
			height: 176px;
			img {
				height: 48px;
			}
		}
	}
	// .card-slide-cases__text-holder
	&__text-holder {
		min-width: 224px;
		flex: 1 0 0;

		p {
			&:not(:last-child) {
				margin-bottom: 6px;
			}
			@media (min-width: $pc) {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}

		.button {
			padding-top: 8px;
			padding-bottom: 8px;
			@media (min-width: $pc) {
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}
	}
	// .card-slide-cases__footer
	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 24px;
		.card-slide-cases__title {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
	// .card-slide-cases__left-col
	&__left-col {
		display: flex;
		min-width: 100px;
		flex-direction: column;
		flex: 1 0 0;
		width: 100%;
		@media (min-width: $pc) {
			gap: 8px;
		}
	}
	// .card-slide-cases__right-col
	&__right-col {
		width: 100%;
		max-width: 224px;
		position: relative;
		@media (min-width: $pc) {
			max-width: 300px;
		}
	}
	// .card-slide-cases__mokup
	&__mokup {
		position: absolute;
		top: 4px;
		left: 23px;
		width: 179px;
		height: 116px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			width: 240px;
			height: 155px;
			left: 30px;
			top: 5px;
		}
	}

	// .card-slide-cases__image-holder
	&__image-holder {
		width: 224px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			width: 100%;
			height: 205px;
		}
	}
}

//==== Awards styles=============================================================================================
.awards {
	padding: 48px 0;
	background: var(--navigator-color-palette-amazon-resin-source);
	& > .awards__bg-holder {
		display: none;
		@media (min-width: $pc) {
			display: block;
		}
	}
	@media (min-width: $pc) {
		padding: 56px 0;
		position: relative;
	}
	// .awards__container
	&__container {
		display: flex;
		flex-direction: column;
		gap: 8px;
		@media (min-width: $pc) {
			position: relative;
			z-index: 1;
		}
	}
	// .awards__left-col
	&__left-col {
		@media (min-width: $pc) {
			display: none;
		}
	}
	// .awards__right-col
	&__right-col {
		display: flex;
		flex-wrap: wrap;
		gap: 48px;
		justify-content: center;
		align-items: center;
		@media (min-width: $pc) {
			gap: 124px;
			justify-content: flex-end;
			align-items: flex-end;
		}
	}
	// .awards__bg-holder
	&__bg-holder {
		height: 250px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			position: absolute;
			top: 0;
			left: 0;
			height: 376px;
		}
	}

	// .awards__image-holder
	&__image-holder {
		@media (min-width: $pc) {
			width: 100%;
			max-width: 276px;
			margin-bottom: 22.5px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .awards__content
	&__content {
		min-width: 256px;
		flex: 1 0 0;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 476px;
		}
	}
	// .awards__title
	&__title {
		color: var(--additional-colors-100-white);
		font-size: 20px;
		font-weight: 600;
		line-height: 1.5;
		text-transform: capitalize;
		span {
			color: var(--navigator-color-palette-goldendriedfruit-source);
		}
		@media (min-width: $pc) {
			font-size: 31px;
			line-height: 1.3;
			text-transform: none;
		}
	}
	// .awards__text-holder
	&__text-holder {
		color: var(--additional-colors-100-white, #fff);
	}
	.button {
		background: var(--additional-colors-back-for-accent);
		column-gap: 6px;
		&::after {
			font-size: 20px;
		}
	}
}

//==== Text-image styles=============================================================================================

.text-image {
	padding: 114px 0 64px;
	background: var(--additional-colors-back-for-accent);
	&--small {
		padding: 0;
		background: var(--additional-colors-100-white);
		.text-image__left-col {
			max-width: 376px;
			@media (min-width: $pc) {
				min-height: 376px;
			}
		}
		.text-image__body {
			@media (min-width: $pc) {
				gap: 24px;
			}
		}
		.text-image__right-col {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 1px;
				height: 100%;
				left: -24px;
				top: 0;
				background: var(--navigator-color-palette-amazon-skyline-100);
			}
			@media (min-width: $pc) {
				width: 100%;
				max-width: 776px;
			}
		}
		.text-image__image-holder {
			position: static;
			max-width: 320px;
			max-height: 320px;
			width: 100%;
			height: 100%;
			&::before {
				display: none;
			}
			@media (min-width: $pc) {
				max-width: 376px;
				max-height: 376px;
			}
		}
		.text-image__title {
			color: var(--navigator-color-palette-amazon-skyline-900);

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
		.text-image__text-holder {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.7;
			color: var(--navigator-color-palette-amazon-skyline-800);

			p {
				&:not(:last-child) {
					margin-bottom: 13px;
				}
				@media (min-width: $pc) {
					&:not(:last-child) {
						margin-bottom: 27px;
					}
				}
			}
			&::before {
				content: "";
				top: -16px;
				@media (min-width: $pc) {
					display: none;
				}
			}
		}
		.text-image__content {
			@media (min-width: $pc) {
				max-width: 776px;
			}
		}
	}
	@media (min-width: $pc) {
		padding: 234px 0 240px;
		&--small {
			padding: 0;
		}
	}

	// .text-image__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 48px;
		@media (min-width: $pc) {
			gap: 124px;
			flex-wrap: nowrap;
		}
	}

	// .text-image__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .text-image__left-col
	&__left-col {
		width: 100%;
		max-width: 256px;
		min-width: 256px;
		min-height: 270px;
		position: relative;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 576px;
			min-height: 614px;
		}
	}
	// .text-image__image-holder
	&__image-holder {
		position: absolute;
		top: 3px;
		left: -21px;
		width: 265px;
		height: 255px;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::before {
			content: "";
			position: absolute;
			background: url("../img/border-bottom-right.svg") no-repeat center;
			bottom: 16px;
			right: 18px;
			width: 44px;
			height: 44px;
			background-size: 44px 44px;
		}
		@media (min-width: $pc) {
			position: absolute;
			top: 0;
			left: -39px;
			width: 615px;
			height: 598px;
			&::before {
				bottom: 37px;
				right: 40px;
				width: 100px;
				height: 100px;
				background-size: 100px 100px;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	// .text-image__right-col
	&__right-col {
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 476px;
			flex: none;
		}
	}
	// .text-image__subtitle
	&__subtitle {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 8px;
			}

			& + .text-image__title {
				text-transform: none;
			}
		}
	}
	// .text-image__title
	&__title {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
	}
	// .text-image__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 28px;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			gap: 32px;
			width: 100%;
			max-width: 376px;
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
	}
	// .text-image__text-holder
	&__text-holder {
		position: relative;
		font-size: 16px;
		line-height: 1.7;
		&::before {
			content: "";
			position: absolute;
			bottom: -16px;
			left: 0;
			width: 100%;
			height: 1px;
			background: var(--navigator-color-palette-amazon-skyline-100);
		}
	}

	.button {
		padding-top: 8px;
		padding-bottom: 8px;
		&::after {
			font-size: 16px;
		}
		@media (min-width: $pc) {
			padding-top: 12px;
			padding-bottom: 12px;
			&::after {
				font-size: 24px;
			}
		}
	}
}

//==== Team styles=============================================================================================
.team {
	padding: 62px 0 76px;
	@media (min-width: $pc) {
		padding: 128px 0;
	}
	// .team__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		@media (min-width: $pc) {
			gap: 124px;
			flex-wrap: nowrap;
			align-items: center;
		}
	}
	// .team__left-col
	&__left-col {
		@media (min-width: $pc) {
			width: 100%;
			max-width: 476px;
			position: relative;
			z-index: 2;
			background-color: #fff;
			&::after {
				content: "";
				width: 1px;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				background: var(--navigator-color-palette-amazon-skyline-100);
			}
			&::before {
				content: "";
				width: 100vw;
				position: absolute;
				height: 100%;
				background-color: #fff;
				top: 0;
				left: -100vw;
				z-index: 2;
			}
		}
	}
	// .team__subtitle
	&__subtitle {
		line-height: 1.4;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
	// .team__title
	&__title {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			text-transform: none;
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
	}
	// .team__text-block
	&__text-block {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			padding-right: 24px;
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
	}
	// .team__right-col
	&__right-col {
		min-width: 0;
		@media (min-width: $pc) {
			width: calc(100% - 476px);
		}
	}
	// .team__slider
	&__slider {
		overflow: visible;
	}

	.button {
		padding-top: 8px;
		padding-bottom: 8px;
		&::after {
			font-size: 16px;
		}
		@media (min-width: $pc) {
			padding: 12px 24px;
			&::after {
				font-size: 24px;
			}
		}
	}
}

.slider-team {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	@media (min-width: $pc) {
		row-gap: 24px;
	}
	.swiper-scrollbar {
		position: static;
	}
	.swiper-scrollbar-drag {
		background: var(--navigator-color-palette-goldendriedfruit-source);
	}

	// .slider-team__scrollbar-wrapper
	&__scrollbar-wrapper {
		width: 100%;
		max-width: 672px;
		@media (min-width: $pc) {
			max-width: 464px;
		}
	}

	// .slider-team__nav
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 24px;
		gap: 24px;
		padding: 0 16px;
		@media (min-width: $pc) {
			padding: 0;
		}
		.swiper-button-prev,
		.swiper-button-next {
			position: static;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 0;
			width: 16px;
			height: 16px;
			font-size: 16px;
			color: var(--navigator-color-palette-amazon-resin-source);
			transition: all 0.3s ease 0s;
			&::after {
				content: "";
			}
			@media (any-hover: hover) {
				&:hover {
					color: var(--navigator-color-palette-goldendriedfruit-400);
				}
			}
			&:active {
				color: var(--navigator-color-palette-goldendriedfruit-source);
			}
		}
	}
}

.slide-team {
	width: 100%;
	max-width: 132px;
	border-radius: 2px;
	border: 1px solid var(--navigator-color-palette-amazon-skyline-50);
	background: var(--additional-colors-back-for-accent);
	text-align: center;
	transition: all 0.3s ease 0s;
	display: block;
	margin-right: 16px;
	@media (any-hover: hover) {
		&:hover {
			span {
				color: var(--navigator-color-palette-goldendriedfruit-source);
			}
		}
	}

	&:active {
		span {
			color: var(--navigator-color-palette-amazon-skyline-600);
		}
	}
	&.blocked {
		pointer-events: none;
		span {
			color: var(--navigator-color-palette-amazon-resin-200);
		}
	}

	@media (min-width: $pc) {
		position: relative;
		max-width: 176px;
		background-color: #fff;
		border-color: transparent;
		margin-right: 48px;
		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: 8px;
			background: url("../img/border-top-left.svg") no-repeat center;
			background-size: 16px 16px;
			width: 16px;
			height: 16px;
			opacity: 0;
			transition: opacity 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				background: var(--additional-colors-back-for-accent);
				border-color: var(--navigator-color-palette-amazon-skyline-50);
				&::before {
					opacity: 1;
				}
			}
		}
	}
	// .slide-team__inner
	&__inner {
		padding: 16px;
		min-height: 272px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: $pc) {
			padding: 8px;
			min-height: 322px;
		}
	}
	// .slide-team__image-holder
	&__image-holder {
		width: 100px;
		height: 100px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
			border: 1px solid var(--navigator-color-palette-amazon-skyline-400);
		}
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		@media (min-width: $pc) {
			width: 144px;
			height: 144px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	// .slide-team__name
	&__name {
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-size: 16px;
		font-weight: 600;
		line-height: 1.7;
		overflow-wrap: anywhere;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (min-width: $pc) {
			font-size: 20px;
			line-height: 1.5;
			text-transform: capitalize;
		}
	}

	// .slide-team__position
	&__position {
		color: var(--navigator-color-palette-amazon-skyline-500);
		overflow-wrap: anywhere;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	// .slide-team__link
	&__link {
		color: var(--navigator-color-palette-goldendriedfruit-400);
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: underline;
		transition: color 0.3s ease 0s;
	}
}

//==== News-podcast styles=============================================================================================
.news-podcast {
	padding: 64px 0 60px;
	background: var(--additional-colors-back-for-accent);
	@media (min-width: $pc) {
		padding: 128px 0 124px;
	}
	// .news-podcast__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .news-podcast__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		gap: 48px;
		@media (min-width: $pc) {
			gap: 124px;
		}
	}
	// .news-podcast__left-col
	&__left-col {
		min-width: 256px;
		flex: 1 0 0;
		width: 100%;
		position: relative;
		z-index: 2;
		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: -100%;
			background: var(--additional-colors-back-for-accent);
		}
		@media (min-width: $pc) {
			flex: none;
			max-width: 476px;
		}
	}
	// .news-podcast__subtitle
	&__subtitle {
		color: var(--navigator-color-palette-amazon-skyline-source);
		font-weight: 600;
		display: flex;
		align-items: center;
		column-gap: 8px;
		&::before {
			color: var(--navigator-color-palette-goldendriedfruit-source);
			font-size: 16px;
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			font-size: 16px;
			line-height: 1.7;
			&:not(:last-child) {
				margin-bottom: 32px;
			}
			&::before {
				font-size: 24px;
			}
		}
	}
	// .news-podcast__right-col
	&__right-col {
		width: 100%;
		min-width: 256px;
		flex: 1 0 0;
	}
	// .news-podcast__slider
	&__slider {
		overflow: visible;
		.swiper-wrapper {
			align-items: stretch;
		}
	}
	// .news-podcast__wrapper
	&__wrapper {
		@media (min-width: $pc) {
			display: flex;
			flex-direction: column;
			row-gap: 12px;
		}
	}
	// .news-podcast__slide
	&__slide {
		height: auto;
	}
}

.header-news-podcast {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 16px;
	// .header-news-podcast__left-col
	&__left-col {
		min-width: 256px;
	}
	// .header-news-podcast__subtitle
	&__subtitle {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
	// .header-news-podcast__title
	&__title {
		@media (min-width: $pc) {
			text-transform: none;
		}
	}

	// .header-news-podcast__link
	&__link {
		color: var(--navigator-color-palette-amazon-resin-source);
		font-weight: 500;
		display: flex;
		align-items: center;
		column-gap: 4px;
		&._icon-CaretRight {
			&::after {
				font-size: 16px;
			}
		}
	}
}

.card-news {
	border-radius: 2px;
	border: 1px solid var(--navigator-color-palette-amazon-skyline-50);
	background: var(--additional-colors-100-white);
	transition: all 0.7s ease 0s;
	display: block;
	cursor: pointer;
	@media (any-hover: hover) {
		&:hover {
			border: 1px solid var(--navigator-color-palette-amazon-skyline-100);
			.card-news__title {
				text-decoration: underline;
			}
		}
	}
	&:active {
		border: 1px solid var(--navigator-color-palette-amazon-skyline-100);
		.card-news__title {
			text-decoration: underline;
		}
	}
	// .card-news__inner
	&__inner {
		padding: 16px;
		@media (min-width: $pc) {
			padding: 23px 23px;
		}
	}
	// .card-news__image-holder
	&__image-holder {
		display: block;
		height: 176px;
		&:not(:last-child) {
			margin-bottom: 32px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			height: 276px;
		}
	}
	// .card-news__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .card-news__category
	&__category {
		color: var(--navigator-color-palette-goldendriedfruit-source);
		font-weight: 600;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		column-gap: 8px;
		&::before {
			font-size: 16px;
		}
	}
	// .card-news__title
	&__title {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		color: var(--navigator-color-palette-amazon-skyline-900);
		text-overflow: ellipsis;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.7;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (min-width: $pc) {
			font-size: 20px;
			line-height: 1.5;
			text-transform: capitalize;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
	// .card-news__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		align-self: stretch;
		overflow: hidden;
		color: var(--navigator-color-palette-amazon-skyline-500);
		text-overflow: ellipsis;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	// .card-news__link
	&__link {
		color: var(--navigator-color-palette-amazon-resin-600);
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: underline;
		width: fit-content;
		display: flex;
		align-items: center;
		position: relative;
		padding-right: 20px;
		&._icon-CaretRight {
			&::after {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 16px;
			}
		}
		@media (min-width: $pc) {
			font-size: 13px;
			line-height: 1.4;
			text-transform: none;
			color: var(--navigator-color-palette-amazon-resin-source);
			text-decoration: none;
		}
	}
}

.header-card-news {
	&:not(:last-child) {
		margin-bottom: 16px;
	}
	@media (min-width: $pc) {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	// .header-card-news__date
	&__date {
		color: var(--navigator-color-palette-amazon-skyline-700);
	}
}

.slide-news-podcast {
	border-radius: 2px;
	border: 1px solid var(--navigator-color-palette-amazon-skyline-50);
	background: var(--additional-colors-100-white);
	width: 100%;
	max-width: 256px;
	display: block;
	transition: all 0.7s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			border: 1px solid var(--navigator-color-palette-amazon-skyline-100);
			.slide-news-podcast__title {
				text-decoration: underline;
			}
		}
	}
	&:active {
		border: 1px solid var(--navigator-color-palette-amazon-skyline-100);
		.slide-news-podcast__title {
			text-decoration: underline;
		}
	}
	@media (min-width: $pc) {
		max-width: 100%;
	}
	// .slide-news-podcast--audio
	&--audio {
		background: var(--additional-colors-teal);
		border: none;
		@media (any-hover: hover) {
			&:hover {
				border: none;
			}
		}
		&:active {
			border: none;
		}
		.slide-news-podcast__inner {
			display: flex;
			flex-direction: column;
			row-gap: 14px;
		}

		.slide-news-podcast__title {
			-webkit-line-clamp: 5;
			color: var(--additional-colors-100-white);
			font-size: 31px;
			font-weight: 600;
			line-height: 1.3;
			text-transform: capitalize;
			overflow-wrap: anywhere;

			@media (min-width: $pc) {
				-webkit-line-clamp: 2;
			}
		}
		.header-slide-news-podcast__category {
			color: var(--additional-colors-100-white);
		}
		.header-slide-news-podcast__date {
			color: var(--additional-colors-100-white);
		}
		.slide-news-podcast__link {
			text-decoration: none;
			color: var(--navigator-color-palette-amazon-resin-source);
			@media (any-hover: hover) {
				&:hover {
					color: var(--navigator-color-palette-goldendriedfruit-400);
				}
			}
			&:active {
				color: var(--navigator-color-palette-goldendriedfruit-source);
			}
		}
		.slide-news-podcast__inner {
			@media (min-width: $pc) {
				padding: 16px 32px;
			}
		}
		.slide-news-podcast__content {
			display: flex;
			flex-direction: column;
			height: 100%;
			@media (min-width: $pc) {
				flex-direction: row-reverse;
				padding: 0;
				width: 100%;
				align-items: center;
				column-gap: 24px;
				justify-content: flex-end;
			}
		}
		.slide-news-podcast__title-holder {
			@media (min-width: $pc) {
				flex: none;
				width: 100%;
				max-width: 346px;
			}
		}
	}
	// .slide-news-podcast__title-holder
	&__title-holder {
		flex: 1 0 auto;
	}

	// .slide-news-podcast__inner
	&__inner {
		padding: 15px;
		height: 100%;
		@media (min-width: $pc) {
			display: flex;
			column-gap: 24px;
			padding: 0;
		}
	}

	// .slide-news-podcast__content
	&__content {
		@media (min-width: $pc) {
			width: 50%;
			padding: 16px 32px 16px 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	// .slide-news-podcast__title
	&__title {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		color: var(--navigator-color-palette-amazon-skyline-900);
		text-overflow: ellipsis;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.7;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (min-width: $pc) {
			font-size: 20px;
			line-height: 1.5;
			text-transform: capitalize;
			&:not(:last-child) {
				margin-bottom: 0px;
			}
		}
	}
	// .slide-news-podcast__link
	&__link {
		color: var(--navigator-color-palette-amazon-resin-600);
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		width: fit-content;
		display: flex;
		align-items: center;
		position: relative;
		padding-right: 20px;
		text-decoration: underline;
		&._icon-CaretRight {
			&::after {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 16px;
			}
		}

		@media (min-width: $pc) {
			font-size: 13px;
			line-height: 1.4;
			text-transform: none;
			color: var(--navigator-color-palette-amazon-resin-source);
			text-decoration: none;
		}
	}
	// .slide-news-podcast__image-holder
	&__image-holder {
		display: block;
		height: 176px;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 32px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			width: 50%;
			&:not(:last-child) {
				margin-bottom: 0px;
			}
		}
	}
	// .slide-news-podcast__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		align-self: stretch;
		overflow: hidden;
		color: var(--navigator-color-palette-amazon-skyline-500);
		text-overflow: ellipsis;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		@media (min-width: $pc) {
			display: none;
		}
	}
}
.audio-wrapper {
	&:not(:last-child) {
		margin-bottom: 24px;
	}
}
.audio-holder {
	border-radius: 99px;
	border: 1px solid var(--additional-colors-100-white);
	background: rgba(255, 255, 255, 0.1);
	display: flex;
	align-items: center;
	column-gap: 8px;
	padding: 13.5px 21px 13.5px 16px;
	width: 100%;
	max-width: 125px;
}

.audio {
	// .audio__time
	&__time {
		color: var(--navigator-color-palette-amazon-resin-50);
		font-weight: 500;
	}

	.playPauseButton {
		&::before {
			font-size: 24px;
			line-height: 24px;
			color: #f2f4f5;
		}
	}
}

.header-slide-news-podcast {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: space-between;
	&:not(:last-child) {
		margin-bottom: 16px;
	}
	@media (min-width: $pc) {
		&:not(:last-child) {
			margin-bottom: 0px;
		}
	}
	// .header-slide-news-podcast__category
	&__category {
		color: var(--navigator-color-palette-goldendriedfruit-source);
		font-weight: 600;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		column-gap: 8px;
		&::before {
			font-size: 16px;
		}
	}
	// .header-slide-news-podcast__date
	&__date {
		color: var(--navigator-color-palette-amazon-skyline-700);
	}
}

.slider-news-podcast {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	// .slider-news-podcast__nav
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px 0;
		@media (min-width: $pc) {
			display: none;
		}
	}
}
