//==== Services styles=============================================================================================
.services-archive-page {
	.hero-two-column {
		// flex-direction: row-reverse;
		gap: 16px;
		@media (min-width: $pc) {
			gap: 24px;
		}
	}
	.hero-two-column__text-block {
		padding-right: 24px;
		&::before {
			right: 0;
			left: unset;
		}
	}
	.hero-two-column__description {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		&::before {
			top: unset;
			bottom: -16px;
			@media (min-width: $pc) {
				display: block;
			}
		}
	}
	.hero-two-column__right-col {
		order: 1;
		@media (min-width: $pc) {
			max-width: 876px;
			width: 100%;
			flex: none;
		}
	}
	.hero-two-column__left-col {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		order: 2;
		@media (min-width: $pc) {
		}
	}
}
.services-page {
}

.services-hero {
	position: relative;
	padding: 48px 0;

	@media (min-width: $pc) {
		padding: 128px 0;
	}
	.quote {
		// .quote__inner
		&__inner {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 24px;
			row-gap: 8px;
		}
		// .quote__header
		&__header {
			width: 100%;
			max-width: 224px;
			min-width: 224px;
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
		// .quote__author
		&__author {
		}
		// .quote__name
		&__name {
		}
		// .quote__position
		&__position {
		}
		// .quote__text-holder
		&__text-holder {
		}
		// .quote__image-holder
		&__image-holder {
		}
	}
	// .services-hero__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		& > .services-hero__quote {
			@media (min-width: $pc) {
				display: none;
			}
		}
	}
	// .services-hero__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 48px;
		@media (min-width: $pc) {
			column-gap: 124px;
			align-items: center;
		}
	}
	// .services-hero__left-col
	&__left-col {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			flex: none;
			width: 100%;
			max-width: 476px;
			row-gap: 32px;
		}
	}
	// .services-hero__title
	&__title {
		color: var(--navigator-color-palette-amazon-resin-source);
		font-size: 31px;
		line-height: 1.3;
		@media (min-width: $pc) {
			font-size: 49px;
		}
	}
	// .services-hero__text-holder
	&__text-holder {
	}
	// .services-hero__subtitle
	&__subtitle {
	}
	// .services-hero__buttons
	&__buttons {
		display: flex;
		align-items: center;
		column-gap: 16px;
	}
	// .services-hero__right-col
	&__right-col {
		position: relative;
		.quote {
			display: none;
		}
		@media (min-width: $pc) {
			width: 100%;
			max-width: 576px;
			.quote {
				display: block;
				position: absolute;
				bottom: 20px;
				left: -64px;
				max-width: 440px;
				&__inner {
					row-gap: 24px;
				}
				&__author {
					row-gap: 4px;
				}
			}
		}
	}
	// .services-hero__image-holder
	&__image-holder {
		@media (min-width: $pc) {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .services-hero__quote
	&__quote {
	}
	.text-block {
	}

	.button {
		// .button--main
		&--main {
		}
		// .button--secondary
		&--secondary {
		}
	}
}

.stats {
	padding: 64px 0;
	background: var(--additional-colors-back-for-accent);
	// .stats__container
	&__container {
		display: flex;
		align-items: center;
		gap: 48px;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (min-width: $pc) {
			gap: 124px;
		}
	}
	// .stats__header
	&__header {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			row-gap: 8px;
			flex: none;
			width: 100%;
			max-width: 276px;
		}
	}
	// .stats__subtitle
	&__subtitle {
	}
	// .stats__title
	&__title {
		@media (min-width: $pc) {
			text-transform: none;
		}
	}
	// .stats__content
	&__content {
		min-width: 256px;
		flex: 1 0 0;
	}
	.widget-mob {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 8px;
		@media (min-width: $pc) {
			gap: 24px;
		}
	}
	.widget {
		@media (min-width: $pc) {
			max-width: 176px;
			border-radius: 24px;
			&:last-child {
				order: -1;
			}
		}
		// .widget__content
		&__content {
			@media (min-width: $pc) {
				min-height: 172px;
				align-items: center;
				justify-content: center;
			}
		}
		// .widget__value
		&__value {
			@media (min-width: $pc) {
				font-size: 49px;
				flex: none;
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
			// .widget__value--letter
			&--letter {
			}
		}
		// .widget__text
		&__text {
		}
		// .widget__badge
		&__badge {
		}
		// .widget__bg-holder
		&__bg-holder {
		}
	}
}

.offer {
	padding: 64px 0;
	@media (min-width: $pc) {
		padding: 128px 0;
	}
	// .offer__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .offer__header
	&__header {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		@media (min-width: $pc) {
			row-gap: 8px;
		}
	}
	// .offer__subtitle
	&__subtitle {
	}
	// .offer__title
	&__title {
	}
	// .offer__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 48px;
		@media (min-width: $pc) {
			column-gap: 124px;
			justify-content: space-between;
		}
	}
	// .offer__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			gap: 24px;
			flex: none;
			width: 100%;
			max-width: 676px;
		}
	}
	// .offer__left-col
	&__left-col {
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			flex: none;
			width: 100%;
			max-width: 376px;
		}
	}
	// .offer__text-block
	&__text-block {
		position: relative;
		padding: 0 24px;
		&::after {
			content: "";
			width: 1px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background: var(--navigator-color-palette-amazon-skyline-100);
		}
	}
	// .offer__badges
	&__badges {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}

	// .offer__right-col
	&__right-col {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		min-width: 256px;
		flex: 1 0 0;
	}
	// .offer__avatars-links
	&__avatars-links {
	}
	// .offer__text-holder
	&__text-holder {
	}
	// .offer__badge
	&__badge {
		border-radius: 99px;
		background: var(--additional-colors-light-green);
		padding: 2px 6px;
		color: var(--additional-colors-100-green);
		font-size: 13px;
		flex-shrink: 0;
		&::before {
			font-size: 12px;
		}
	}
	// .offer__image
	&__image {
	}
	// .offer__image-holder
	&__image-holder {
		@media (min-width: $pc) {
			width: 376px;
			height: 408px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.text-block {
		// .text-block__text-holder
		&__text-holder {
		}
	}
	.avatars-links {
		// .avatars-links__link
		&__link {
		}
		// .avatars-links__avatars
		&__avatars {
		}
	}

	.badge {
	}
}

.accordion {
	padding: 64px 0;
	@media (min-width: $pc) {
		padding: 128px 0;
	}
	// .accordion__container
	&__container {
		display: flex;
		flex-direction: column;
		gap: 32px;
		@media (min-width: $pc) {
			gap: 64px;
		}
	}
	// .accordion__header
	&__header {
	}
	// .accordion__subtitle
	&__subtitle {
	}
	// .accordion__title
	&__title {
	}
	// .accordion__quote
	&__quote {
	}
	// .accordion__content
	&__content {
		display: flex;
		gap: 48px;
		flex-wrap: wrap;
		justify-content: center;
		@media (min-width: $pc) {
			gap: 124px;
		}
	}
	// .accordion__left-col
	&__left-col {
	}
	// .accordion__image-holder
	&__image-holder {
		width: 276px;
		height: 337px;
		@media (min-width: $pc) {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .accordion__right-col
	&__right-col {
		min-width: 256px;
		flex: 1 0 0;
	}

	.spollers {
		gap: 0;
		@media (min-width: $pc) {
			row-gap: 4px;
		}
		// .spollers__item
		&__item {
			padding: 16px 8px;
			border-radius: 2px;
			&[open] {
				background: var(--additional-colors-100-white);
				box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
			}
			@media (min-width: $pc) {
				padding: 24px 40px 24px 16px;
			}
		}

		// .spollers__icon
		&__icon {
			flex-shrink: 0;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			background: var(--navigator-color-palette-amazon-resin-50);
			display: flex;
			align-items: center;
			justify-content: center;
			&::before {
				transition: transform 0.3s ease 0s;
				font-size: 18px;
				color: var(--navigator-color-palette-goldendriedfruit-source);
			}
			@media (min-width: $pc) {
				width: 40px;
				height: 40px;
				&::before {
					font-size: 24px;
				}
			}
		}

		// .spollers__title
		&__title {
			display: flex;
			column-gap: 24px;
			align-items: center;
			color: var(--navigator-color-palette-amazon-skyline-900);
			font-size: 20px;
			font-weight: 600;
			line-height: 1.5;
			text-transform: capitalize;
			padding-right: 24px;
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
			@media (min-width: $pc) {
				font-size: 31px;
				line-height: 1.3;
				padding-right: 0;
			}
		}
		// .spollers__body
		&__body {
			color: var(--navigator-color-palette-amazon-skyline-800);
			font-size: 16px;
			line-height: 1.7;
			padding: 28px 24px 0 50px;
			position: relative;
			row-gap: 26px;
			&::before {
				content: "";
				position: absolute;
				top: 12px;
				left: 50px;
				width: calc(100% - 82px);
				height: 1px;
				background: var(--navigator-color-palette-amazon-skyline-100);
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.7s ease 0s;
			}
			@media (min-width: $pc) {
				padding-top: 32px;
				&::before {
					top: 16px;
				}
			}
		}

		._spoller-active {
			.spollers__icon {
				&::before {
					transform: rotate(45deg);
				}
			}
			& + .spollers__body {
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.quote {
		border-radius: 0px 2px 2px 2px;
		background: var(--additional-colors-100-white);
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
		// .quote--row
		&--row {
			@media (min-width: $pc) {
				max-width: 100%;
			}
		}
		// .quote__inner
		&__inner {
			@media (min-width: $pc) {
				flex-direction: column;
				row-gap: 24px;
				padding: 24px 16px 24px 24px;
			}
		}
		// .quote__header
		&__header {
			justify-content: space-between;
			min-width: 224px;
			flex: 1 0 0;
			@media (min-width: $pc) {
				width: 100%;
				flex: none;
			}
		}
		// .quote__author
		&__author {
		}
		// .quote__name
		&__name {
		}
		// .quote__position
		&__position {
		}
		// .quote__button
		&__button {
			flex-shrink: 0;
		}
		// .quote__call
		&__call {
			color: var(--navigator-color-palette-amazon-skyline-700);
			font-size: 10px;
			font-weight: 500;
			display: flex;
			align-items: center;
			padding: 8px;
			column-gap: 6px;
			border-radius: 2px;
			background: var(--additional-colors-back-for-accent);
			transition: background 0.3s ease 0s;
			&::after {
				font-size: 20px;
			}
			@media (any-hover: hover) {
				&:hover {
					background: var(--navigator-color-palette-amazon-skyline-100);
				}
			}
			&:active {
				background: var(--navigator-color-palette-amazon-skyline-200);
			}
		}
		// .quote__text-holder
		&__text-holder {
		}
		// .quote__image-holder
		&__image-holder {
			left: -18px;
			right: unset;
			@media (min-width: $pc) {
				left: -36px;
			}
		}
	}
}

.header-accordion {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	@media (min-width: $pc) {
		justify-content: space-between;
	}
	// .header-accordion__left-col
	&__left-col {
		min-width: 256px;
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		@media (min-width: $pc) {
			row-gap: 8px;
			min-width: 0;
		}
	}
	// .header-accordion__right-col
	&__right-col {
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 776px;
			flex: none;
		}
	}
}
