//==== Our team styles=============================================================================================
.our-team {
	padding: 64px 0 64px;

	// .our-team__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
	}
	// .our-team__header
	&__header {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
	}
	// .our-team__subtitle
	&__subtitle {
	}
	// .our-team__title
	&__title {
	}
	// .our-team__two-column
	&__two-column {
	}
	// .our-team__cards
	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		.slide-team {
			max-width: 100%;
			min-width: 120px;
			flex: 1 0 0;
			// .slide-team__inner
			&__inner {
				padding: 16px 10px 7px 10px;
			}
			// .slide-team__image-holder
			&__image-holder {
			}
			// .slide-team__name
			&__name {
				// overflow-wrap: anywhere;
				// word-wrap: normal;
			}
			// .slide-team__position
			&__position {
			}
			// .slide-team__link
			&__link {
			}
		}
	}
}

.two-column {
	display: flex;
	gap: 24px;
	align-items: flex-start;
	flex-wrap: wrap;
	// .two-column__left-col
	&__left-col {
		min-width: 256px;
		flex: 1 0 0;
	}
	// .two-column__image-holder
	&__image-holder {
		width: 100%;
		height: 376px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .two-column__text-block
	&__text-block {
		padding-left: 24px;
		position: relative;
		display: flex;
		flex-direction: column;
		row-gap: 12px;
		&::before {
			content: "";
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: var(--navigator-color-palette-amazon-skyline-100);
		}
	}

	// .two-column__right-col
	&__right-col {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		min-width: 256px;
		flex: 1 0 0;
	}
	// .two-column__title
	&__title {
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-size: 20px;
		font-weight: 600;
		line-height: 1.5;
		text-transform: capitalize;
	}
	// .two-column__subtitle
	&__subtitle {
		color: var(--navigator-color-palette-amazon-skyline-900);
		font-size: 16px;
		font-weight: 600;
		line-height: 1.7;
	}
	// .two-column__text-holder
	&__text-holder {
		p {
			&:not(:last-child) {
				margin-bottom: 17px;
			}
		}
	}
	// .two-column__buttons
	&__buttons {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}
}
.button {
	// .button--main
	&--main {
	}
	// .button--secondary
	&--secondary {
	}
	// .button--icons
	&--icons {
	}
}
._icon-ChatText {
}
.team {
	// .team__slide
	&__slide {
	}
}
.swiper-slide {
}
